@use '../../styles/variables';

.btnGithub:hover {
    background-color: variables.$color-black;
}

.btnLinkedin:hover {
    background-color: variables.$color-lightblue;
}

.btnEmail:hover {
    background-color: variables.$color-pink;
}

button {
    margin: 1rem;

    &:hover {
        transition: ease-out .5s;
    }

    svg {
        margin-right: .5rem;
        color: variables.$color-white;
    }
}