@use './variables';

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: variables.$color-black;
    color: variables.$color-white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: variables.$color-red;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: variables.$color-white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: variables.$color-white;
}

p {
    font-family: 'Lexend', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: variables.$color-white;
}

a {
    font-family: 'Poppins', sans-serif;
    font-family: 1rem;
    font-weight: 600;
    color: variables.$color-white;
    text-decoration: none;
}