

$color-yellow: #ffbe0b;
$color-pink: #F61379;
$color-orange: #fb5607;
$color-blue: #1b9aaa;
$color-lightblue: #4cc9f0;
$color-green: #80ed99;
$color-white: #FFFF;
$color-black: #242423;
$color-transparent: rgba(16 18 27 / 40%);
$color-transparent-2: rgba(16 18 27 / 60%);


