
$color-white: #FFFFFF;
$color-black: #000000;
$color-purple: #8C52FF;
$color-purple-hover: #560BAD;
$color-gradient: linear-gradient(to right, #240046, #380b65, #4b1b85, #5f2aa8, #733bcc, #733bcc, #733bcc, #733bcc, #5f2aa8, #4b1b85, #380b65, #240046);

$color-yellow: #ffbe0b;
$color-pink: #F61379;
$color-blue: #4cc9f0;
$color-green: #80ed99;
$color-transparent: rgba(16 18 27 / 40%);


