
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #E40037;
$color-yellow: #ffbe0b;
$color-pink: #F61379;
$color-blue: #4cc9f0;
$color-green: #80ed99;
$color-transparent: rgba(16 18 27 / 40%);


