
.container {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 4rem;

        h2 {
            margin-bottom: .5rem;
        }

        svg {
            margin-left: 1rem;
            vertical-align: middle ;
        }
    }
    
    @media (max-width: 425px) {
        width: 80%;
        align-items: center;
        text-align: center;

        section {
            margin-top: 0;

            h2 {
                font-size: 1.5rem;
            }
            
            p {
                margin-bottom: 1rem;
            }
        }
    }
}