
.container {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    margin: auto;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        section {
            position: absolute;

            img {
                display: none;
            }
        }
    }

    section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            margin: 0 .5rem;
            font-size: 2.5rem;
            vertical-align: middle;
        }

        h2 {
            text-align: center;
        }

        img {
            width: 100%;
        }
    }  
}