@use '../../styles/variables';

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;

    main {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        height: 20vh;
        align-items: center;
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a  {
            &:hover  {
                transition: .5s ease-in-out;
                color: variables.$color-red;
            }
        }
    }
    
    @media (max-width: 425px) {
        main {
            height: 50vh;
            margin: 0 2rem;
            text-align: center;

            h1 {
                font-size: 2rem;
            }
        }
        
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

