@use '../../styles/variables';

.cardContainer {
    width: 15rem;
    height: 25rem;
    padding: 2rem 1rem;
    margin: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: variables.$color-gradient;
    background-attachment: fixed;
    border-radius: .25rem;
    
    button {
        width: 60%;
        padding: .5rem 1rem;
        border-radius: 1rem;
        cursor: pointer; 
        background-color: variables.$color-transparent;

        &:hover {
            transition: .5s;
            background-color: variables.$color-black;
        }
    }

    @media (max-width: 425px) {
        margin: 0 0 2rem;
    }
}