@use '../../styles/variables';

.cardContainer {
    width: 15rem;
    height: 20rem;
    padding: 2rem 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: variables.$color-transparent;
    border-radius: .25rem;
    cursor: pointer;
    
    &:hover {
        button {
            background-color: variables.$color-transparent-2;
            transition: ease-out .5s;
        }
    }

}