
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    section {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}